@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap&subset=cyrillic');

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body { font-size: 8px;}
body {
  font-family: 'Playfair Display', serif;

}

h1 {
  font-size: 8rem;
  text-align: center;
  padding-top: 40px;


}

h2 {
  font-size: 5.5rem;
}

h3 {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

h4 {
  text-align: center;
  padding-top: 30px;
  font-size: 4rem;
  width: 40%;

}

.scale{
  position: absolute;
  right:10px;
  top: calc(100vh + 200px);
  border-radius: 6px;
  width: 12px;
  height: calc(100vh * 2);
  background-color: green;
  border: 1px solid black;
  z-index:1;
}
.cover {
  height: 100vh;
  background-color: #E0E9FE;
}

.cover_2 h1 {
  padding-bottom: 50px;
}

p {
 font-size: 5rem;
}



.cover_2 {
  height: 50vh;
  background-color: #00000;

}

.vetka {
  padding-top: 80px;
  width: 100%;
}

.vetka2 {
  width: auto;
  height: calc( 100vh - 4rem );
  display: none;
}

.mamonth {
  height: 100vh;
  background-color: #FFF6E8;
  position: relative;

}

.mamonth p {
  position: absolute;
  bottom: 6%;
  margin-left: 2.5%;
  width: 38%;
}

.mamonth_2 {
  width: 60%;
  margin-left: 15%;

}

.hrono_1 {
  position: absolute;
  right: -15%;
  top: 60px;
  font-weight: bold;
  font-size: 5rem;
}

.hrono_2 {
  position: absolute;
  right: 50px;
  bottom: 60px;
  font-weight: bold;
  font-size: 5rem;

}
.line{font-size: 6rem;
  position: absolute;
  right: 30px;
  top: 60px;
}

.dodo {
  height: 100vh;
  background-color: #FFEEDB;
  position: relative;

}

.dodo p {
  position: absolute;
  bottom: 6%;
  margin-left: 2.5%;
  width: 40%;

}

.dodo_2 {
  width: 44%;
  margin-left: 25%;
}

.hrono_3 {
  position: absolute;
  right: 3%;
  top: 60px;
  font-weight: bold;
  font-size: 5rem;

}

.hrono_4 {
  position: absolute;
  right: 50px;
  bottom: 60px;
  font-weight: bold;
  font-size: 5rem;
}

.popug1 {
  height: 100vh;
  background-color: #FFEACD;
  position: relative;

}

.popug1 p {
  position: absolute;
  bottom: 6%;
  margin-left: 2.5%;
  width: 30%;
}

.popug1_2 {
  width: 54%;
  margin-left: 20%;
  margin-top: 5%;
}

.hrono_5 {
  position: absolute;
  right: 50px;
  bottom: 100px;
  font-weight: bold;
  font-size: 5rem;
}

.gagarka {
  height: 100vh;
  background-color: #FFE0B5;
  position: relative;
}

.gagarka p {
  position: absolute;
  bottom: 6%;
  margin-left: 2.5%;
  width: 30%;
}

.gagarka_2 {
  width: 32%;
  margin-left: 30%;
}

.hrono_6 {
  position: absolute;
  right: 3%;
  top: 60px;
  font-weight: bold;
  font-size: 5rem;
}

.hrono_7 {
  position: absolute;
  right: 3%;
  bottom: 160px;
  font-weight: bold;
  font-size: 5rem;
}

.kvagga {
  height: 100vh;
  background-color: #FFD599;
  position: relative;
}

.kvagga p {
  position: absolute;
  bottom: 6%;
  margin-left: 2.5%;
  width: 35%;
}

.kvagga_2 {
  width: 52%;
  margin-left: 25%;
  margin-top: 5%;
}

.hrono_8 {
  position: absolute;
  right: 3%;
  top: 60px;
  font-weight: bold;
  font-size: 5rem;
}

.golub {
  height: 100vh;
  background-color: #FFCD83;
  position: relative;
}

.golub p {
  position: absolute;
  bottom: 6%;
  margin-left: 2.5%;
  width: 40%;
}

.golub_2 {
  width: 48 %;
  margin-left: 25%;
}

.hrono_9 {
  position: absolute;
  right: 3%;
  top: 60px;
  font-weight: bold;
  font-size: 5rem;
}

.hrono_10 {
  position: absolute;
  right: 3%;
  bottom: 160px;
  font-weight: bold;
  font-size: 5rem;
}

.popug2 {
  height: 100vh;
  background-color: #FFBF5C;
  position: relative;
}

.popug2 p {
  position: absolute;
  bottom: 6%;
  margin-left: 2.5%;
  width: 60%;
}

.popug2_2 {
  width: 52%;
  margin-left: 25%;
  margin-top: 3%;
}

.hrono_11 {
  position: absolute;
  right: 3%;
  bottom: 160px;
  font-weight: bold;
  font-size: 5rem;
}

.back {
  height: 70vh;
  background-color: #FC9C3C;
  position: relative;
}

.back h1 {
  padding-top: 16%;
}

.hrono_12 {
  position: absolute;
  right: 3%;
  top: 60px;
  font-weight: bold;
  font-size: 5rem;
}

footer {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #FC9C3C;
}

.text {
  text-align: center;
  font-size: 5rem;
}

.WWF {
  width: 5%;

}

.logo {
  width: 5%;
}


@media screen and (orientation: landscape) {
  .vetka {display:block; }
  .vetka2 {display:none; }

}
@media screen and (orientation: portrait) {
  .vetka {display:none; }
  .vetka2 {display:block; }

}
@media screen and (max-width: 720px) {
  html, body {font-size: 12px;}

@media screen and (max-width: 320px) {
  .mamonth_2 {
    width: 95%;
    margin-left: 2.5%
  }

  .hrono_1 {
    top: 15px;
  }
}
+7 911 848 14 50
