@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap&subset=cyrillic');

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body { font-size: 8px;}
body {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 8rem;
  text-align: center;
  padding-top: 40px;
}

h2 {
  font-size: 5.5rem;
}

h3 {
  padding-top: 50px;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

h4 {
  text-align: center;
  padding-top: 50px;
  font-size: 4rem;
}

.scale{
  position: absolute;
  right:10px;
  top: calc(100vh + 400px);
  border-radius: 6px;
  width: 40px;
  height: calc(100vh * 7.4);
  background-color: #BDFFBC;
  border: 4px solid black;
  z-index:1;
}


.fix {
  background-image: url(../img/fix.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 50px;
  position: sticky;
  top: 190px
}

.cover {;
  height: 100vh;
  background-color: #E0E9FE;
}

.cover_2 h1 {
  padding-bottom: 50px;
}

p {
 font-size: 5rem;
}

.cover_2 {
  height: 50vh;
  background-color: #00000;
  padding: 0 20%;
  margin-top: 100px;
}

.vetka {
  padding-top: 80px;
  width: 100%;
}

.vetka2 {
  width: auto;
  height: calc( 100vh - 14rem );
  display: none;
}

.mamonth img {
  opacity:0;
  transition: 2s opacity;
  position: absolute;
  top: 200px;
  right: 500px;
  width: 36%;

 }

.mamonth {
  height: 100vh;
  background-color: #FFF6E8;
  position: relative;
  background-image: url(../img/mamonth.png);
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
}

.mamonth:hover img {
  opacity:1;
}


.mamonth p {
  position: absolute;
  bottom: 6%;
  margin-left: 2.5%;
  width: 38%;
}


.hrono_1 {
  position: absolute;
  right:7%;
  top: 60px;
  font-weight: bold;
  font-size: 5rem;
}

.hrono_2 {
  position: absolute;
  right:7%;
  bottom: 60px;
  font-weight: bold;
  font-size: 5rem;
  transition: 2s color;
}

.line_1 {font-size: 8rem;
  position: absolute;
  right: 70px;
  top: 44px;
}

.line_2 {font-size: 8rem;
  position: absolute;
  right: 70px;
  bottom: 54px;
}

.dodo img {
  opacity:0;
  transition: 2s opacity;
  position: absolute;
  top: 200px;
  right: 500px;
  width: 36%;
}

.dodo {
  height: 100vh;
  background-color: #FFEEDB;
  position: relative;
  background-image: url(../img/dodo.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40%;
}

.dodo:hover img {
  opacity:1;

}

.dodo p {
  position: absolute;
  bottom: 6%;
  margin-left: 2.5%;
  width: 40%;

}

.hrono_3 {
  position: absolute;
  right:7%;
  top: 60px;
  font-weight: bold;
  font-size: 5rem;

}

.hrono_4 {
  position: absolute;
  right:7%;
  bottom: 120px;
  font-weight: bold;
  font-size: 5rem;
}

.line_3 {
  font-size: 8rem;
  position: absolute;
  right: 70px;
  top: 46px;
}

.line_4 {
  font-size: 8rem;
  position: absolute;
  right: 70px;
  bottom: 114px;
}

.popug1 img {
  opacity:0;
  transition: 2s opacity;
  position: absolute;
  top: 200px;
  right: 550px;
  width: 36%;
 }


.popug1 {
  height: 100vh;
  background-color: #FFEACD;
  position: relative;
  background-image: url(../img/popug1.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
}

.popug1:hover img {
  opacity:1;
}

.popug1 p {
  position: absolute;
  bottom: 6%;
  margin-left: 2.5%;
  width: 30%;
}

.hrono_5 {
  position: absolute;
  right:7%;
  bottom: 800px;
  font-weight: bold;
  font-size: 5rem;
}

.line_5 {
  font-size: 8rem;
  position: absolute;
  right: 70px;
  top: 224px;
}

.gagarka img {
  opacity:0;
  transition: 2s opacity;
  position: absolute;
  top: 200px;
  right: 620px;
  width: 36%;
 }

.gagarka {
  height: 100vh;
  background-color: #FFE0B5;
  position: relative;
  background-image: url(../img/gagarka.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30%;
}

.gagarka:hover img {
  opacity:1;
}


.gagarka p {
  position: absolute;
  bottom: 6%;
  margin-left: 2.5%;
  width: 30%;
}


.hrono_6 {
  position: absolute;
  right:7%;
  top: 60px;
  font-weight: bold;
  font-size: 5rem;
}

.hrono_7 {
  position: absolute;
  right:7%;
  bottom: 160px;
  font-weight: bold;
  font-size: 5rem;
}

.line_6 {
  font-size: 8rem;
  position: absolute;
  right: 70px;
  top: 44px;
}

.line_7 {
  font-size: 8rem;
  position: absolute;
  right: 70px;
  bottom: 148px;
}

.kvagga img {
  opacity:0;
  transition: 2s opacity;
  position: absolute;
  top: 200px;
  right: 600px;
  width: 36%;
 }

.kvagga {
  height: 100vh;
  background-color: #FFD599;
  position: relative;
  background-image: url(../img/kvagga.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 46%;
}

.kvagga:hover img {
  opacity:1;
}


.kvagga p {
  position: absolute;
  bottom: 6%;
  margin-left: 2.5%;
  width: 35%;
}

.hrono_8 {
  position: absolute;
  right:7%;
  top: 60px;
  font-weight: bold;
  font-size: 5rem;
}

.line_8 {
  font-size: 8rem;
  position: absolute;
  right: 70px;
  top: 50px;
}

.golub img {
  opacity:0;
  transition: 2s opacity;
  position: absolute;
  top: 130px;
  right: 580px;
  width: 40%;
 }


.golub {
  height: 100vh;
  background-color: #FFCD83;
  position: relative;
  background-image: url(../img/golub.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 44%;
}

.golub:hover img {
  opacity:1;
}


.golub p {
  position: absolute;
  bottom: 6%;
  margin-left: 2.5%;
  width: 40%;
}

.hrono_9 {
  position: absolute;
  right:7%;
  top: 60px;
  font-weight: bold;
  font-size: 5rem;
}

.hrono_10 {
  position: absolute;
  right:7%;
  bottom: 160px;
  font-weight: bold;
  font-size: 5rem;
}

.line_9 {
  font-size: 8rem;
  position: absolute;
  right: 70px;
  top: 46px;
}


.line_10 {
  font-size: 8rem;
  position: absolute;
  right: 70px;
  bottom: 154px;
}

.popug2 img {
  opacity:0;
  transition: 2s opacity;
  position: absolute;
  top: 200px;
  right: 500px;
  width: 36%;
 }

.popug2 {
  height: 100vh;
  background-color: #FFBF5C;
  position: relative;
  background-image: url(../img/popug2.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40%;
}

.popug2:hover img {
  opacity:1;
}


.popug2 p {
  position: absolute;
  bottom: 6%;
  margin-left: 2.5%;
  width: 60%;
}

.hrono_11 {
  position: absolute;
  right:7%;
  bottom: 800px;
  font-weight: bold;
  font-size: 5rem;
}

.line_11 {
  font-size: 8rem;
  position: absolute;
  right: 70px;
  top: 224px;
}


.back {
  height: 70vh;
  background-color: #FC9C3C;
  position: relative;
}

.back h1 {
  padding-top: 16%;
}

.hrono_12 {
  position: absolute;
  right:7%;
  top: 60px;
  font-weight: bold;
  font-size: 5rem;
}

.line_12 {
  font-size: 8rem;
  position: absolute;
  right: 70px;
  top: 40px;
}

footer {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #FC9C3C;
}

.text {
  text-align: center;
  font-size: 5rem;
}

.WWF {
  width: 5%;

}

.logo {
  width: 5%;
}


@media screen and (orientation: landscape) {
  .vetka {display:block; }
  .vetka2 {display:none; }

}
@media screen and (orientation: portrait) {
  .vetka {display:none; }
  .vetka2 {display:block; }

}

@media screen and (max-width: 1680px) {
  .gagarka img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 200px;
    right: 500px;
    width: 36%;
   }

   .kvagga img {
     opacity:0;
     transition: 2s opacity;
     position: absolute;
     top: 200px;
     right: 550px;
     width: 36%;
    }

    .golub img {
      opacity:0;
      transition: 2s opacity;
      position: absolute;
      top: 130px;
      right: 480px;
      width: 42%;
     }

}

@media screen and (max-width: 1440px) {

  .cover_2 {
    margin-top: 50px;
  }

  h1 {
    padding-top: 10px;
  }

  .mamonth img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 200px;
    right: 430px;
    width: 36%;
   }

  .dodo img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 170px;
    right: 400px;
    width: 36%;
  }

  .popug1 img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 170px;
    right: 350px;
    width: 36%;
  }

  .gagarka img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 150px;
    right: 450px;
    width: 36%;
  }

  .kvagga img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 150px;
    right: 450px;
    width: 36%;
  }

  .golub img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 150px;
    right: 450px;
    width: 38%;
  }

  .popug2 img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 150px;
    right: 450px;
    width: 36%;
  }

  .hrono_1 {
    position: absolute;
    right:9%;
    top: 60px;
    font-weight: bold;
    font-size: 5rem;
  }

  .hrono_2 {
    position: absolute;
    right:9%;
    bottom: 60px;
    font-weight: bold;
    font-size: 5rem;
  }

  .line_1 {
    font-size: 8rem;
    position: absolute;
    right: 70px;
    top: 44px;
  }

  .line_2 {font-size: 8rem;
    position: absolute;
    right: 70px;
    bottom: 54px;
  }

  .hrono_3 {
    position: absolute;
    right:9%;
    top: 60px;
    font-weight: bold;
    font-size: 5rem;

  }

  .hrono_4 {
    position: absolute;
    right:9%;
    bottom: 120px;
    font-weight: bold;
    font-size: 5rem;
  }

  .line_3 {
    font-size: 8rem;
    position: absolute;
    right: 70px;
    top: 46px;
  }

  .line_4 {
    font-size: 8rem;
    position: absolute;
    right: 70px;
    bottom: 114px;
  }

  .popug1 p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 50%;
  }

  .hrono_5 {
    position: absolute;
    right:9%;
    bottom: 800px;
    font-weight: bold;
    font-size: 5rem;
  }

  .line_5 {
    font-size: 8rem;
    position: absolute;
    right: 70px;
    top: 44px;
  }

  .hrono_6 {
    position: absolute;
    right:9%;
    top: 60px;
    font-weight: bold;
    font-size: 5rem;
  }

  .hrono_7 {
    position: absolute;
    right:9%;
    bottom: 160px;
    font-weight: bold;
    font-size: 5rem;
  }

  .line_6 {
    font-size: 8rem;
    position: absolute;
    right: 70px;
    top: 44px;
  }

  .line_7 {
    font-size: 8rem;
    position: absolute;
    right: 70px;
    bottom: 148px;
  }

  .kvagga p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 44%;
  }

  .hrono_8 {
    position: absolute;
    right:9%;
    top: 60px;
    font-weight: bold;
    font-size: 5rem;
  }

  .line_8 {
    font-size: 8rem;
    position: absolute;
    right: 70px;
    top: 50px;
  }

  .golub p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 34%;
  }

  .hrono_9 {
    position: absolute;
    right:9%;
    top: 60px;
    font-weight: bold;
    font-size: 5rem;
  }

  .hrono_10 {
    position: absolute;
    right:9%;
    bottom: 160px;
    font-weight: bold;
    font-size: 5rem;
  }

  .line_9 {
    font-size: 8rem;
    position: absolute;
    right: 70px;
    top: 46px;
  }


  .line_10 {
    font-size: 8rem;
    position: absolute;
    right: 70px;
    bottom: 154px;
  }

  .popug2 p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 80%;
  }

  .hrono_11 {
    position: absolute;
    right:9%;
    bottom: 800px;
    font-weight: bold;
    font-size: 5rem;
  }

  .line_11 {
    font-size: 8rem;
    position: absolute;
    right:70px;
    top: 44px;
  }

  .back h1 {
    padding-top: 22%;
  }

  .hrono_12 {
    position: absolute;
    right:9%;
    top: 60px;
    font-weight: bold;
    font-size: 5rem;
  }

  .line_12 {
    font-size: 8rem;
    position: absolute;
    right: 70px;
    top: 40px;
  }

}

@media screen and (max-width: 1366px) {
  h1 {
    font-size: 7rem;
    padding-top: 10px;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 4.5rem;
  }

  h4 {
    text-align: center;
    padding-top: 30px;
    font-size: 3.5rem;
  }

  p {
   font-size: 3.5rem;
  }

  .mamonth img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 140px;
    right: 430px;
    width: 36%;
   }

  .dodo img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 140px;
    right: 400px;
    width: 36%;
  }

  .popug1 img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 140px;
    right: 350px;
    width: 36%;
  }

  .gagarka img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 140px;
    right: 450px;
    width: 36%;
  }

  .kvagga img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 120px;
    right: 450px;
    width: 36%;
  }

  .golub img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 120px;
    right: 420px;
    width: 38%;
  }

  .popug2 img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 140px;
    right: 450px;
    width: 36%;
  }

  .scale{
    position: absolute;
    right:8px;
    top: calc(100vh + 330px);
    border-radius: 6px;
    width: 40px;
    height: calc(100vh * 7.3);
    background-color: #BDFFBC;
    border: 4px solid black;
    z-index:1;
  }


  .hrono_1 {
    position: absolute;
    right:9%;
    top: 68px;
    font-weight: bold;
    font-size: 3.5rem;
  }

  .hrono_2 {
    position: absolute;
    right:9%;
    bottom: 68px;
    font-weight: bold;
    font-size: 3.5rem;

  }

  .hrono_3 {
    position: absolute;
    right:9%;
    top: 68px;
    font-weight: bold;
    font-size: 3.5rem;

  }

  .hrono_4 {
    position: absolute;
    right:9%;
    bottom: 68px;
    font-weight: bold;
    font-size: 3.5rem;
  }

  .line_4 {
    font-size: 8rem;
    position: absolute;
    right: 70px;
    bottom: 56px;
  }


  .hrono_5 {
    position: absolute;
    right:9%;
    bottom: 700px;
    font-weight: bold;
    font-size: 3.5rem;
  }

  .line_5 {
    font-size: 8rem;
    position: absolute;
    right: 70px;
    top: 18px;
  }

  .hrono_6 {
    position: absolute;
    right:9%;
    top: 60px;
    font-weight: bold;
    font-size: 3.5rem;
  }

  .line_6 {
    font-size: 8rem;
    position: absolute;
    right: 70px;
    top: 36px;
  }

  .hrono_7 {
    position: absolute;
    right:9%;
    bottom: 160px;
    font-weight: bold;
    font-size: 3.5rem;
  }

  .hrono_8 {
    position: absolute;
    right:9%;
    top: 60px;
    font-weight: bold;
    font-size: 3.5rem;
  }

  .line_8 {
    font-size: 8rem;
    position: absolute;
    right: 70px;
    top: 38px;
  }


  .hrono_9 {
    position: absolute;
    right:9%;
    top: 60px;
    font-weight: bold;
    font-size: 3.5rem;
  }

  .line_9 {
    font-size: 8rem;
    position: absolute;
    right: 70px;
    top: 36px;
  }


  .hrono_10 {
    position: absolute;
    right:9%;
    bottom: 160px;
    font-weight: bold;
    font-size: 3.5rem;
  }

  .line_10 {
    font-size: 8rem;
    position: absolute;
    right: 70px;
    bottom: 146px;
  }

  .hrono_11 {
    position: absolute;
    right:9%;
    top: 72px;
    font-weight: bold;
    font-size: 3.5rem;
  }

  .line_11 {
    font-size: 8rem;
    position: absolute;
    right: 70px;
    top: 50px;
  }

  .back h1 {
    padding-top: 22%;
  }

  .hrono_12 {
    position: absolute;
    right:9%;
    top: 60px;
    font-weight: bold;
    font-size: 5rem;
  }

  .line_12 {
    font-size: 8rem;
    position: absolute;
    right: 70px;
    top: 46px;
  }

  footer {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #FC9C3C;
  }

  .text {
    text-align: center;
    font-size: 5rem;
  }

  .WWF {
    width: 5%;

  }

  .logo {
    width: 5%;
  }

}

@media screen and (max-width: 1280px) {
  h1 {
    font-size: 6rem;
    text-align: center;
    padding-top: 10px;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
  }

  h4 {
    text-align: center;
    padding-top: 30px;
    font-size: 3.5rem;
  }

  .cover_2 {
    padding: 0;
  }

  .cover_2 h1 {
    padding-bottom: 10px;
  }

  p {
   font-size: 3.5rem;
  }

  .mamonth img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 160px;
    right: 400px;
    width: 36%;
   }

  .dodo img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 160px;
    right: 400px;
    width: 36%;
  }

  .popug1 img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 160px;
    right: 350px;
    width: 36%;
  }

  .gagarka img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 160px;
    right: 400px;
    width: 36%;
  }

  .kvagga img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 130px;
    right: 430px;
    width: 36%;
  }

  .golub img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 130px;
    right: 400px;
    width: 38%;
  }

  .popug2 img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 160px;
    right: 400px;
    width: 36%;
  }

  .scale{
    position: absolute;
    right: 2px;
    top: calc(100vh + 360px);
    border-radius: 6px;
    width: 34px;
    height: calc(100vh * 7.3);
    background-color: #BDFFBC;
    border: 3px solid black;
    z-index:1;
  }

  .mamonth p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 30%;
  }

  .hrono_1 {
    position: absolute;
    right:9%;
    top: 60px;
    font-weight: bold;
    font-size: 3.5rem;
  }

  .hrono_2 {
    position: absolute;
    right:9%;
    bottom: 60px;
    font-weight: bold;
    font-size: 3.5rem;

  }

  .line_1 {
    font-size: 8rem;
    position: absolute;
    right: 70px;
    top: 36px;
  }

  .line_2 {
    font-size: 8rem;
    position: absolute;
    right: 70px;
    bottom: 48px;
  }



  .dodo p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 40%;

  }

  .dodo_2 {
    width: 44%;
    margin-left: 25%;
  }

  .hrono_3 {
    position: absolute;
    right:9%;
    top: 60px;
    font-weight: bold;
    font-size: 3.5rem;

  }

  .hrono_4 {
    position: absolute;
    right:9%;
    bottom: 60px;
    font-weight: bold;
    font-size: 3.5rem;
  }

  .line_3 {
    font-size: 8rem;
    position: absolute;
    right: 70px;
    top: 36px;
  }

  .line_4 {
    font-size: 8rem;
    position: absolute;
    right: 70px;
    bottom: 48px;
  }

  .popug1 {
    height: 100vh;
    background-color: #FFEACD;
    position: relative;

  }

  .popug1 p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 30%;
  }

  .popug1_2 {
    width: 54%;
    margin-left: 20%;
    margin-top: 5%;
  }

  .hrono_5 {
    position: absolute;
    right:9%;
    top: 74px;
    font-weight: bold;
    font-size: 3.5rem;
  }

  .gagarka {
    height: 100vh;
    background-color: #FFE0B5;
    position: relative;
  }

  .gagarka p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 40%;
  }

  .gagarka_2 {
    width: 32%;
    margin-left: 30%;
  }

  .hrono_6 {
    position: absolute;
    right:9%;
    top: 60px;
    font-weight: bold;
    font-size: 3.5rem;
  }

  .hrono_7 {
    position: absolute;
    right:9%;
    bottom: 160px;
    font-weight: bold;
    font-size: 3.5rem;
  }

  .kvagga {
    height: 100vh;
    background-color: #FFD599;
    position: relative;
  }

  .kvagga p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 35%;
  }

  .kvagga_2 {
    width: 52%;
    margin-left: 25%;
    margin-top: 5%;
  }

  .hrono_8 {
    position: absolute;
    right:9%;
    top: 60px;
    font-weight: bold;
    font-size: 3.5rem;
  }

  .golub {
    height: 100vh;
    background-color: #FFCD83;
    position: relative;
  }

  .golub p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 40%;
  }

  .golub_2 {
    width: 48%;
    margin-left: 25%;
  }

  .hrono_9 {
    position: absolute;
    right:9%;
    top: 60px;
    font-weight: bold;
    font-size: 3.5rem;
  }

  .hrono_10 {
    position: absolute;
    right:9%;
    bottom: 160px;
    font-weight: bold;
    font-size: 3.5rem;
  }

  .popug2 {
    height: 100vh;
    background-color: #FFBF5C;
    position: relative;
  }

  .popug2 p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 60%;
  }

  .popug2_2 {
    width: 52%;
    margin-left: 25%;
    margin-top: 3%;
  }

  .hrono_11 {
    position: absolute;
    right:9%;
    top: 74px;
    font-weight: bold;
    font-size: 3.5rem;
  }



  .back {
    height: 70vh;
    background-color: #FC9C3C;
    position: relative;
  }

  .back h1 {
    padding-top: 22%;
  }

  .hrono_12 {
    position: absolute;
    right:9%;
    top: 68px;
    font-weight: bold;
    font-size: 3.5rem;
  }

  footer {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #FC9C3C;
  }

  .text {
    text-align: center;
    font-size: 3.5rem;
  }

  .WWF {
    width: 5%;

  }

  .logo {
    width: 5%;
  }


}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 5.8rem;
    text-align: center;
    padding-top: 50px;


  }

  h2 {
    font-size: 3.8rem;
  }

  h3 {
    font-size: 3.8rem;
    font-weight: bold;
    text-align: center;
  }

  h4 {
    text-align: center;
    padding-top: 30px;
    font-size: 3.3rem;
  }

  .mamonth img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 200px;
    right: 300px;
    width: 36%;
   }

  .dodo img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 200px;
    right: 300px;
    width: 36%;
  }

  .popug1 img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 200px;
    right: 300px;
    width: 36%;
  }

  .gagarka img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 200px;
    right: 330px;
    width: 36%;
  }

  .kvagga img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 180px;
    right: 360px;
    width: 36%;
  }

  .golub img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 160px;
    right: 320px;
    width: 38%;
  }

  .popug2 img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 180px;
    right: 300px;
    width: 36%;
  }

  .vetka {
    padding-top: 100px;
  }
  .cover_2 h1 {
    padding-bottom: 50px;
  }

  p {
    font-size: 3.3rem;
  }

  .mamonth p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 34%;
  }

  .hrono_1 {
    position: absolute;
    right:11%;
    top: 60px;
    font-weight: bold;
    font-size: 3.3rem;
  }

  .hrono_2 {
    position: absolute;
    right:11%;
    bottom: 60px;
    font-weight: bold;
    font-size: 3.3rem;

  }


  .dodo p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 40%;

  }

  .hrono_3 {
    position: absolute;
    right:11%;
    top: 60px;
    font-weight: bold;
    font-size: 3.3rem;

  }

  .hrono_4 {
    position: absolute;
    right:11%;
    bottom: 60px;
    font-weight: bold;
    font-size: 3.3rem;
  }

  .popug1 p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 30%;
  }

  .hrono_5 {
    position: absolute;
    right:11%;
    bottom: 100px;
    font-weight: bold;
    font-size: 3.3rem;
  }

  .line_5 {
    font-size: 8rem;
    position: absolute;
    right: 70px;
    top: 50px;
  }

  .gagarka p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 38%;
  }

  .hrono_6 {
    position: absolute;
    right:11%;
    top: 60px;
    font-weight: bold;
    font-size: 3.3rem;
  }

  .hrono_7 {
    position: absolute;
    right:11%;
    bottom: 160px;
    font-weight: bold;
    font-size: 3.3rem;
  }

  .kvagga p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 44%;
  }

  .kvagga_2 {
    width: 52%;
    margin-left: 25%;
    margin-top: 5%;
  }

  .hrono_8 {
    position: absolute;
    right:11%;
    top: 60px;
    font-weight: bold;
    font-size: 3.3rem;
  }

  .golub p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 30%;
  }

  .hrono_9 {
    position: absolute;
    right:11%;
    top: 60px;
    font-weight: bold;
    font-size: 3.3rem;
  }

  .hrono_10 {
    position: absolute;
    right:11%;
    bottom: 160px;
    font-weight: bold;
    font-size: 3.3rem;
  }

  .popug2 p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 40%;
  }

  .hrono_11 {
    position: absolute;
    right:11%;
    bottom: 160px;
    font-weight: bold;
    font-size: 3.3rem;
  }

  .back h1 {
    padding-top: 26%;
  }

  .hrono_12 {
    position: absolute;
    right:11%;
    top: 70px;
    font-weight: bold;
    font-size: 3.3rem;
  }

  .text {
    text-align: center;
    font-size: 3.3rem;
  }


}

@media screen and (max-width: 768px) {

  h1 {
    font-size: 5rem;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;


  }

  h2 {
    font-size: 4rem;
  }

  .vetka2 {
    width: auto;
    height: calc( 100vh - 10rem );
    display: block;
  }


  h3 {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
  }

  h4 {
    text-align: center;
    padding-top: 30px;
    font-size: 3rem;
  }


  .scale{
    position: absolute;
    right: 2px;
    top: calc(100vh + 450px);
    border-radius: 6px;
    width: 34px;
    height: calc(100vh * 7.25);
    background-color: #BDFFBC;
    border: 3px solid black;
    z-index:1;
  }

  .cover_2 h1 {

    padding-bottom: 50px;
  }

  .cover_2 {
    padding: 30px;
  }

  p {
   font-size: 3rem;
  }

  .mamonth img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 260px;
    right: 100px;
    width: 64%;
   }

   .mamonth {
     background-size: 80%
   }

  .dodo img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 260px;
    right: 100px;
    width: 64%;
  }

  .dodo {
    background-size: 70%;
  }

  .popug1 img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 260px;
    right: 100px;
    width: 64%;
  }

  .popug1 {
    background-size: 80%;
  }

  .gagarka img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 260px;
    right: 100px;
    width: 74%;
  }

  .gagarka {
    background-size: 60%;
  }

  .kvagga img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 240px;
    right: 120px;
    width: 64%;
  }

  .kvagga {
    background-size: 80%;
  }

  .golub img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 240px;
    right: 100px;
    width: 68%;
  }

  .golub {
    background-size: 80%;
  }

  .popug2 img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 260px;
    right: 100px;
    width: 64%;
  }

  .popug2 {
    background-size: 80%;
  }

  .mamonth p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 50%;
  }

  .hrono_1 {
    position: absolute;
    right: 11%;
    top: 60px;
    font-weight: bold;
    font-size: 3rem;
  }

  .hrono_2 {
    position: absolute;
    right: 11%;
    bottom: 180px;
    font-weight: bold;
    font-size: 3rem;

  }

  .line_1 {
    font-size: 6rem;
    position: absolute;
    right: 50px;
    top: 46px;
  }

  .line_2 {
    font-size: 6rem;
    position: absolute;
    right: 50px;
    bottom: 174px;
  }


  .dodo p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 50%;

  }

  .hrono_3 {
    position: absolute;
    right: 11%;
    top: 60px;
    font-weight: bold;
    font-size: 3rem;
  }

  .hrono_4 {
    position: absolute;
    right: 11%;
    bottom: 140px;
    font-weight: bold;
    font-size: 3rem;
  }

  .line_3 {
    font-size: 6rem;
    position: absolute;
    right: 50px;
    top: 46px;
  }


  .line_4 {
    font-size: 6rem;
    position: absolute;
    right: 50px;
    bottom: 132px;
  }


  .popug1 p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 40%;
  }

  .hrono_5 {
    position: absolute;
    right: 11%;
    bottom: 100px;
    font-weight: bold;
    font-size: 3rem;
  }

  .line_5 {
    font-size: 6rem;
    position: absolute;
    right: 50px;
    top: 58px;
  }

  .gagarka p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 46%;
  }

  .hrono_6 {
    position: absolute;
    right: 11%;
    top: 60px;
    font-weight: bold;
    font-size: 3rem;
  }

  .line_6 {
    font-size: 6rem;
    position: absolute;
    right: 50px;
    top: 44px;
  }

  .hrono_7 {
    position: absolute;
    right: 10%;
    bottom: 92px;
    font-weight: bold;
    font-size: 3rem;
  }

  .line_7 {
    font-size: 6rem;
    position: absolute;
    right: 50px;
    bottom: 84px;
  }

  .kvagga p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 50%;
  }

  .hrono_8 {
    position: absolute;
    right: 11%;
    top: 60px;
    font-weight: bold;
    font-size: 3rem;
  }

  .line_8 {
    font-size: 6rem;
    position: absolute;
    right: 50px;
    top: 44px;
  }

  .golub p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 40%;
  }

  .hrono_9 {
    position: absolute;
    right: 11%;
    top: 60px;
    font-weight: bold;
    font-size: 3rem;
  }

  .hrono_10 {
    position: absolute;
    right: 11%;
    bottom: 100px;
    font-weight: bold;
    font-size: 3rem;
  }

  .line_9 {
    font-size: 6rem;
    position: absolute;
    right: 50px;
    top: 44px;
  }

  .line_10 {
    font-size: 6rem;
    position: absolute;
    right: 50px;
    bottom: 94px;
  }

  .popug2 p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 64%;
  }

  .hrono_11 {
    position: absolute;
    right: 11%;
    bottom: 160px;
    font-weight: bold;
    font-size: 3rem;
  }

  .line_11 {
    font-size: 6rem;
    position: absolute;
    right: 50px;
    top: 56px;
  }


  .back h1 {
    padding-top: 48%;
  }

  .hrono_12 {
    position: absolute;
    right: 11%;
    top: 60px;
    font-weight: bold;
    font-size: 3rem;
  }

  .line_12 {
    font-size: 6rem;
    position: absolute;
    right: 50px;
    top: 44px;
  }


  footer {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #FC9C3C;
  }

  .text {
    text-align: center;
    font-size: 3rem;
  }

  .WWF {
    width: 5%;

  }

  .logo {
    width: 5%;
  }

}

@media screen and (max-width: 414px) {

  h1 {
    font-size: 4rem;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 80px;


  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

  h4 {
    text-align: center;
    padding-top: 30px;
    font-size: 2.5rem;
  }

  .mamonth img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 310px;
    right: 50px;
    width: 64%;
   }

  .dodo img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 310px;
    right: 50px;
    width: 64%;
  }

  .popug1 img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 310px;
    right: 50px;
    width: 64%;
  }


  .gagarka img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 310px;
    right: 50px;
    width: 74%;
  }

  .kvagga img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 300px;
    right: 60px;
    width: 64%;
  }

  .golub img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 310px;
    right: 50px;
    width: 68%;
  }

  .popug2 img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 310px;
    right: 50px;
    width: 64%;
  }

  .scale{
    position: absolute;
    right: 1px;
    top: calc(100vh + 470px);
    border-radius: 6px;
    width: 18px;
    height: calc(100vh * 7.1);
    background-color: #BDFFBC;
    border: 2px solid black;
    z-index:1;
  }

  .fix {
    top:220px;
  }

  .vetka2 {
    width: auto;
    height: calc( 100vh - 44rem );
    display: block;
  }

  .cover_2 {
    padding: 10px;
    margin: 0;
  }

  .cover_2 h1 {
    padding-bottom: 30px;
  }

  p {
    font-size: 2.5rem;
  }

  .mamonth p {
    position: absolute;
    bottom: 6%;
    font-size: 2.5rem;
    width: 62%;
  }

  .hrono_1 {
    position: absolute;
    right:11%;
    top: 52px;
    font-weight: bold;
    font-size: 2.5rem;
  }

  .hrono_2 {
    position: absolute;
    right:11%;
    bottom: 150px;
    font-weight: bold;
    font-size: 2.5rem;

  }

  .line_1 {
    font-size: 4rem;
    position: absolute;
    right: 22px;
    top: 44px;
  }

  .line_2 {
    font-size: 4rem;
    position: absolute;
    right: 22px;
    bottom: 148px;
  }

  .dodo p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 70%;

  }

  .hrono_3 {
    position: absolute;
    right:11%;
    top: 54px;
    font-weight: bold;
    font-size: 2.5rem;

  }

  .hrono_4 {
    position: absolute;
    right:11%;
    bottom: 150px;
    font-weight: bold;
    font-size: 2.5rem;
  }

  .line_3 {
    font-size: 4rem;
    position: absolute;
    right: 22px;
    top: 44px;
  }

  .line_4 {
    font-size: 4rem;
    position: absolute;
    right: 22px;
    bottom: 146px;
  }

  .popug1 p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 60%;
  }

  .hrono_5 {
    position: absolute;
    right:11%;
    bottom: 800px;
    font-weight: bold;
    font-size: 2.5rem;
  }

  .line_5 {
    font-size: 4rem;
    position: absolute;
    right: 22px;
    top: 64px;
  }

  .gagarka p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    font-size: 2.5rem;
    width: 70%;
  }


  .hrono_6 {
    position: absolute;
    right:11%;
    top: 60px;
    font-weight: bold;
    font-size: 2.5rem;
  }

  .hrono_7 {
    position: absolute;
    right:11%;
    bottom: 150px;
    font-weight: bold;
    font-size: 2.5rem;
  }

  .line_6 {
    font-size: 4rem;
    position: absolute;
    right: 22px;
    top: 52px;
  }

  .line_7 {
    font-size: 4rem;
    position: absolute;
    right: 22px;
    bottom: 146px;
  }

  .kvagga p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 80%;
  }


  .hrono_8 {
    position: absolute;
    right:11%;
    top: 60px;
    font-weight: bold;
    font-size: 2.5rem;
  }

  .line_8 {
    font-size: 4rem;
    position: absolute;
    right: 22px;
    top: 52px;
  }

  .golub p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 60%;
  }


  .hrono_9 {
    position: absolute;
    right:11%;
    top: 60px;
    font-weight: bold;
    font-size: 2.5rem;
  }

  .hrono_10 {
    position: absolute;
    right:11%;
    bottom: 130px;
    font-weight: bold;
    font-size: 2.5rem;
  }

  .line_9 {
    font-size: 4rem;
    position: absolute;
    right: 22px;
    top: 52px;
  }

  .line_10 {
    font-size: 4rem;
    position: absolute;
    right: 22px;
    bottom: 126px;
  }


  .popug2 p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 75%;
  }

  .hrono_11 {
    position: absolute;
    right:11%;
    bottom: 760px;
    font-weight: bold;
    font-size: 2.5rem;
  }

  .line_11 {
    font-size: 4rem;
    position: absolute;
    right: 22px;
    top: 64px;
  }


  .back h1 {
    padding-top: 75%;
  }

  .hrono_12 {
    position: absolute;
    right:11%;
    top: 60px;
    font-weight: bold;
    font-size: 2.5rem;
  }

  .line_12 {
    font-size: 4rem;
    position: absolute;
    right: 22px;
    top: 52px;
  }


  footer {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #FC9C3C;
  }

  .text {
    text-align: center;
    font-size: 2.5rem;
  }

  .WWF {
    width: 15px;
    height: 23px;

  }

  .logo {
    width: 23px;
    height: 21px;
  }
}
@media screen and (max-width: 375px){

  h1 {
    font-size: 3.5rem;
    text-align: center;
    padding-top: 40px;


  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
  }

  h4 {
    text-align: center;
    padding-top: 30px;
    font-size: 2rem;
  }

  .scale{
    position: absolute;
    right: 1px;
    top: calc(100vh + 360px);
    border-radius: 6px;
    width: 16px;
    height: calc(100vh * 7.3);
    background-color: #BDFFBC;
    border: 2px solid black;
    z-index:1;
  }

  .cover h1 {
    padding-bottom: 30px;
  }


  .vetka2 {
    width: auto;
    height: calc( 100vh - 40rem );
    display: block;
    margin-top: 50px;
  }

  .mamonth img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 280px;
    right: 45px;
    width: 64%;
   }

  .dodo img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 280px;
    right: 45px;
    width: 64%;
  }

  .popug1 img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 280px;
    right: 45px;
    width: 64%;
  }


  .gagarka img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 280px;
    right: 45px;
    width: 74%;
  }

  .kvagga img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 260px;
    right: 70px;
    width: 64%;
  }

  .golub img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 260px;
    right: 50 px;
    width: 68%;
  }

  .popug2 img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 280px;
    right: 45px;
    width: 64%;
  }

}

@media screen and (max-width: 320px) {

  h1 {
    font-size: 3rem;
    text-align: center;
    padding-top: 10px;


  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
  }

  h4 {
    text-align: center;
    padding-top: 30px;
    font-size: 2rem;
  }

  .mamonth img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 170px;
    right: 45px;
    width: 64%;
   }

  .dodo img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 170px;
    right: 45px;
    width: 64%;
  }

  .popug1 img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 170px;
    right: 45px;
    width: 64%;
  }


  .gagarka img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 170px;
    right: 45px;
    width: 74%;
  }

  .kvagga img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 170px;
    right: 50px;
    width: 64%;
  }

  .golub img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 170px;
    right: 45px;
    width: 68%;
  }

  .popug2 img {
    opacity:0;
    transition: 2s opacity;
    position: absolute;
    top: 170px;
    right: 45px;
    width: 64%;
  }

  .cover_2 h1 {
    padding: 10px;
  }

  .cover_2 {
    padding: 0;
    margin: 0;
  }

  p {
   font-size: 2rem;
  }

  .scale{
    position: absolute;
    right: 1px;
    top: calc(100vh + 250px);
    border-radius: 6px;
    width: 14px;
    height: calc(100vh * 7.3);
    background-color: #BDFFBC;
    border: 1.5px solid black;
    z-index:1;
  }


  .vetka2 {
    width: auto;
    height: calc( 100vh - 18rem );
    display: block;
  }

  .mamonth p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 62%;
    font-size: 2rem;
  }


  .hrono_1 {
    position: absolute;
    right:11%;
    top: 60px;
    font-weight: bold;
    font-size: 2rem;
  }

  .hrono_2 {
    position: absolute;
    right:11%;
    bottom: 150px;
    font-weight: bold;
    font-size: 2rem;

  }

  .line_1 {
    font-size: 3rem;
    position: absolute;
    right: 22px;
    top: 52px;
  }


  .line_2 {
    font-size: 3rem;
    position: absolute;
    right: 22px;
    bottom: 148px;
  }

  .dodo p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 70%;

  }


  .hrono_3 {
    position: absolute;
    right:11%;
    top: 60px;
    font-weight: bold;
    font-size: 2rem;

  }

  .hrono_4 {
    position: absolute;
    right:11%;
    bottom: 120px;
    font-weight: bold;
    font-size: 2rem;
  }

  .line_3 {
    font-size: 3rem;
    position: absolute;
    right: 22px;
    top: 54px;
  }

  .line_4 {
    font-size: 3rem;
    position: absolute;
    right: 22px;
    bottom: 120px;
  }

  .popug1 p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 60%;
  }

  .hrono_5 {
    position: absolute;
    right:11%;
    bottom: 500px;
    font-weight: bold;
    font-size: 2rem;
  }

  .line_5 {
    font-size: 3rem;
    position: absolute;
    right: 22px;
    top: 68px;
  }


  .gagarka p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 55%;
    font-size: 2rem;
  }

  .hrono_6 {
    position: absolute;
    right:11%;
    top: 60px;
    font-weight: bold;
    font-size: 2rem;
  }

  .hrono_7 {
    position: absolute;
    right:11%;
    bottom: 110px;
    font-weight: bold;
    font-size: 2rem;
  }

  .line_6 {
    font-size: 3rem;
    position: absolute;
    right: 22px;
    top: 54px;
  }


  .line_7 {
    font-size: 3rem;
    position: absolute;
    right: 22px;
    bottom: 108px;
  }


  .kvagga p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 80%;
  }

  .hrono_8 {
    position: absolute;
    right:11%;
    top: 60px;
    font-weight: bold;
    font-size: 2rem;
  }

  .line_8 {
    font-size: 3rem;
    position: absolute;
    right: 22px;
    top: 54px;
  }

  .golub p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 60%;
  }

  .hrono_9 {
    position: absolute;
    right:11%;
    top: 60px;
    font-weight: bold;
    font-size: 2rem;
  }

  .hrono_10 {
    position: absolute;
    right:11%;
    bottom: 130px;
    font-weight: bold;
    font-size: 2rem;
  }

  .line_9 {
    font-size: 3rem;
    position: absolute;
    right: 22px;
    top: 54px;
  }

  .line_10 {
    font-size: 3rem;
    position: absolute;
    right: 22px;
    bottom: 128px;
  }


  .popug2 p {
    position: absolute;
    bottom: 6%;
    margin-left: 2.5%;
    width: 75%;
  }

  .hrono_11 {
    position: absolute;
    right:11%;
    bottom: 460px;
    font-weight: bold;
    font-size: 2rem;
  }

  .line_11 {
    font-size: 3rem;
    position: absolute;
    right: 22px;
    top: 68px;
  }


  .back h1 {
    padding-top: 60%;
  }

  .hrono_12 {
    position: absolute;
    right:11%;
    top: 60px;
    font-weight: bold;
    font-size: 2rem;
  }

  .line_12 {
    font-size: 3rem;
    position: absolute;
    right: 22px;
    top: 54px;
  }

  footer {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #FC9C3C;
  }

  .text {
    text-align: center;
    font-size: 2rem;
  }

  .WWF {
    width: 15px;
    height: 23px;

  }

  .logo {
    width: 23px;
    height: 21px;
  }
}
